* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
}

html, body, .container, .main, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 1.61;
}

/* FONT
---------------*/
.wf-opensans-active body {
  font-family: 'Open Sans', sans-serif ;
}

/* UI
---------------*/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.btn-large, input{
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 3px;
}

button {
  width: 60px;
  outline: none;
}

input[type='text'] {
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}

/*  Header
--------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  height: 34px;
  color: white;
  background-color: rgba(#000033, 0.8);
  text-align: center;
  text-transform: uppercase;
  h3{
    padding: 0;
    margin: 0;
  }
}

.header__menu {
  //display: none;
}

#header__menu {
  display: inline-block;
  position: absolute;
  left: 0.4em;
  //padding: 0 10vw;
  svg {
    width: 32px;
    height: 32px;
    fill: #E0E0E0;

  }
}

/*  Main content
--------------*/
.container {
  margin: 34px auto;
}

.nav {
  display: flex;
  position: fixed;
  z-index: 100;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  transition: transform 0.3s;
  will-change: transform;
  top: 34px;
  left: -300px;
  width: 300px;
  height: calc(100% - 34px);
  background-color: rgba(#000033, 0.5);
  border: 1px solid #000033;
  text-align: center;
  color: white;

  &.visible{
    transform: translateX(300px);
  }

  &.hidden{
    transform: translateX(0);
  }

  ul{
    padding: 0 6px 6px 6px;
    flex: 1;
    -webkit-overflow-scrolling: touch;
    max-height: 64vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  li{
    margin-top: .8em;
    background-color: rgba(white, 0.5);
    border-radius: 2px;
    padding: 4px 0;

    &:first-child{
      margin-top: 0;
    }

    &.active{
      color: white;
    }
  }
}

.list-item {
  word-wrap: normal;
  color: #003333;

  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &.active {
    color: white;
  }

  &:focus,
  &:hover,
  &:active
  {
    outline: 0;
  }
}

.nav-inner{
  display: flex;
  flex-flow: column;
  padding: 6px;
  width: 100%;
  height: 100%;
}

.input-container{
  background-color: rgba(#000033, 0.5);
  border: 1px solid #000033;
  text-align: center;
  color: white;
  width: 100%;
  margin-bottom: 6px;
  border-radius: 2px;

  h4{
    margin: 8px 0;
  }

  input{
    width: 70%;
  }
  button{
    width: 23%;
  }
}

.add-place-container, .search-place-container, .location-list {
  padding-bottom: 24px;
}

/*  MAP
------------*/
#map {
  position: relative;
  top: 0;
  height: calc(100% - 30px);
}


/*  Footer
------------*/
.footer{
  position: fixed;
  z-index: 101;
  bottom: 0;
  width: 100%;
  background-color: #191919;
  color: darkgrey;
  text-align: center;
  padding: 4px 0;
}

/*
  Map Control Button
  -------------------*/
.map-button{
  background-color: rgba(#3FACB2,.7);
  border-bottom: 2px solid #D0F0F2;
  border-right: 2px solid #D0F0F2;
  border-left: 2px solid #D0F0F2;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  margin-bottom: 22px;
  text-align: center;
}

.map-button-text {
  color: rgb(25,25,25);
  font-family: 'Roboto',Arial,sans-serif;
  font-size: 16px;
  line-height: 38px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 400px) {
  .main {
    flex-flow: row;
  }

  h3{
    font-size: 14px;
  }

  #header__menu {
    svg {
      width: 28px;
    }
  }

  .nav {

  }

  .nav-inner{
   width: 100%;
  }

  .map-button {
    display: none;
  }
}